<form action="{% url 'fuel_expense' vehicle.pk %}" method="post">
    {% csrf_token %}
    <div class="grid">
        <a href="https://www.dkv-euroservice.com/DKVMaps/">🗺️ Ouvrir la carte des stations de carburant</a>
    </div>
    <div class="grid">
        <div>{{ fuel_expense_form.date.as_field_group }}</div>
        <div>{{ fuel_expense_form.mileage.as_field_group }}</div>
    </div>
    <div class="grid">
        <div>{{ fuel_expense_form.amount.as_field_group }}</div>
        <div>{{ fuel_expense_form.quantity.as_field_group }}</div>
    </div>
    <div>
        {{ fuel_expense_form.form_of_payment.as_field_group }}
    </div>
    <input type="submit" value="Valider">
</form>