# Django settings module
DJANGO_SETTINGS_MODULE=settings.prod

# Django configuration
DJANGO_ALLOWED_HOSTS=myurl.app
DJANGO_CSRF_TRUSTED_ORIGINS=http://myurl.app

# Database configuration (optional, defaults to SQLite)
DJANGO_DATABASE_ENGINE=django.db.backends.sqlite3