version: '3.8'

services:
  carbon:
    image: ghcr.io/protec38/carbon:latest
    restart: unless-stopped
    container_name: carbon-back
    volumes:
      - carbon-static:/app/static
      - carbon-data:/app/data
    privileged: true
    env_file: '.env'

  frontend-proxy:
    image: docker.io/nginx:latest
    ports:
      - "8002:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - carbon-static:/static:ro
    container_name: carbon-front
    depends_on:
      - carbon
    privileged: true

volumes:
  carbon-data:
  carbon-static:
