<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div#qrtable {
            display: flexbox;
        }
        figure {
            border: 1px solid black;
            display: inline-block;
        }
        figcaption {
            text-align: center;
            font-family: system-ui, sans-serif;
            font-weight: bold;
        }
    </style>
</head>
<body>
    {% load qr_code %}
    <div id="qrtable">
        {% for name, registration_number, url in vehicles %}
        <figure>
            {% qr_from_text url dark_color="#004080" finder_dark_color="#F08700" finder_light_color=None alignment_dark_color="#F08700" %}
            <figcaption>{{ name }}<br />{{ registration_number }}</figcaption>
        </figure>
    {% endfor %}
    </div>
    
</body>
</html>