{% include "django/forms/widgets/text.html" %}

{% load static %}

<script type="module">
	import { autocomp } from "{% static 'js/autocomp.js' %}";

    const input = document.querySelector("#id_driver_eprotec")

	autocomp(document.querySelector("#id_driver_name"), {
		onQuery: async (val) => {
            if (input != null) {
				input.value = "";
			}
			const resp = await fetch(`http://localhost:8081/users?search=${val}`);
			const res = await resp.json();
			return res.results;
		},
		onRender: (val) => {
			const d = document.createElement("div");
			d.innerHTML = val.name;
			return d;
		},
		onSelect: (val) => {
			if (input != null) {
				input.value = val.id;
			}
			return val.name;
		}
	});

</script>