{% extends "base.html" %}
{% block title %}{{ block.super }} - {{ vehicle.name }}{% endblock %}
{% block body %}
    <main class="container">
        <h1>{{ vehicle.name }}</h1>
        {% if trip_started %}<p class="warning">Un trajet est en cours, pensez à le clôturer avant d'en commencer un nouveau</p>{% endif %}
        {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
        {% endif %}
        <details>
            <summary role="button">Détails du véhicule</summary>
            <section>
                <table>
                    <tbody>
                    <tr>
                        <td>Type</td>
                        <td>{{ vehicle.get_type_display }}</td>
                    </tr>
                    <tr>
                        <td>Statut</td>
                        <td>{{ vehicle.get_status_display }}</td>
                    </tr>
                    <tr>
                        <td>Carburant</td>
                        <td>{{ vehicle.get_fuel_display }}</td>
                    </tr>
                    <tr>
                        <td>Localisation</td>
                        <td>{{ vehicle.parking_location.complete_address }}</td>
                    </tr>
                    <tr>
                        <td>Kilométrage</td>
                        <td>{{ vehicle.mileage }}</td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </details>
        <details {% if trip_form.errors %}open{% endif %}>
            <summary role="button">{% if trip_started %}Finir le trajet{% else %}Commencer un trajet{% endif %}</summary>
            <section>
                <form action="{% url 'vehicle_details' vehicle.pk %}" method="post">
                    {% csrf_token %}
                    <p>{{ trip_form.non_field_errors }}</p>
                    <div class="grid">
                        <div>{{ trip_form.starting_time.label_tag }}{{ trip_form.starting_time }}{% for error in trip_form.starting_time.errors %}<small>{{ error }}</small>{% endfor %}</div>
                        <div>{{ trip_form.starting_mileage.label_tag }}{{ trip_form.starting_mileage }}{% for error in trip_form.starting_mileage.errors %}<small>{{ error }}</small>{% endfor %}</div>
                    </div>
                    <div class="grid">
                        <div>{{ trip_form.driver_name.label_tag }}{{ trip_form.driver_name }}{% for error in trip_form.driver_name.errors %}<small>{{ error }}</small>{% endfor %}</div>
                        <div>{{ trip_form.purpose.label_tag }}{{ trip_form.purpose }}{% for error in trip_form.purpose.errors %}<small>{{ error }}</small>{% endfor %}</div>
                    </div>
                    {% if trip_started %}
                        <label><input type="checkbox" role="switch" name="{{ trip_form.update_initial.html_name }}">{{ trip_form.update_initial.label }}</label>
                    <div class="grid">
                        <div>{{ trip_form.ending_time.label_tag }}{{ trip_form.ending_time }}{% for error in trip_form.ending_time.errors %}<small>{{ error }}</small>{% endfor %}</div>
                        <div>{{ trip_form.ending_mileage.label_tag }}{{ trip_form.ending_mileage }}{% for error in trip_form.ending_mileage.errors %}<small>{{ error }}</small>{% endfor %}</div>
                    </div>
                    <input type="submit" name="end-trip-form" value="Finir">
                    <input type="submit" name="abandon-trip-form" value="Abandonner le trajet en cours" formnovalidate>
                    {% else %}
                    <input type="submit" name="start-trip-form" value="Démarrer">
                    {% endif %}
                </form>
            </section>
        </details>
        <details>
            <summary role="button">Signaler une anomalie</summary>
            <section>
                {% if open_defects %}
                <details>
                    <summary>Vérifier les anomalies existantes</summary>
                    <table>
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Commentaire</th>
                            <th>Statut</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for defect in open_defects %}
                            <tr>
                                <td>{{ defect.get_type_display }}</td>
                                <td>{{ defect.comment }}</td>
                                <td>{{ defect.get_status_display }}</td>
                                <td>{{ defect.creation_date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>

                </details>
                {% endif %}
                {% if defect_form.errors %}
                    <p>{{ defect_form.errors }}</p>
                {% endif %}
                <form action="{% url 'vehicle_details' vehicle.pk %}" method="post">
                    {% csrf_token %}
                    {{ defect_form.as_p }}
                    <p>
                        <label>
                            <input type="checkbox" required role="switch">
                            L'anomalie n'a pas déjà été remontée
                        </label>
                    </p>
                    <input type="submit" value="Valider" name="defect-form">
                </form>
            </section>
        </details>
        <details>
            <summary role="button">Indiquer un plein</summary>
            <section>
                <form action="{% url 'vehicle_details' vehicle.pk %}" method="post">
                    {% csrf_token %}
                    <div class="grid">
                        <div>{{ fuel_expense_form.date.as_field_group }}</div>
                        <div>{{ fuel_expense_form.mileage.as_field_group }}</div>
                    </div>
                    <div class="grid">
                        <div>{{ fuel_expense_form.amount.as_field_group }}</div>
                        <div>{{ fuel_expense_form.quantity.as_field_group }}</div>
                    </div>
                    <input type="submit" value="Valider" name="fuel-expense-form">
                </form>
            </section>
        </details>
    </main>
{% endblock %}