{% extends "base.html" %}
{% block body %}
    <h1>{{ vehicle.name }}</h1>
    <table>
        <tbody>
            <tr><td>Type</td><td>{{ vehicle.type }}</td></tr>
            <tr>
                <td>Statut</td>
                <td>{{ vehicle.get_status_display }}</td>
            </tr>
            <tr>
                <td>Carburant</td>
                <td>{{ vehicle.get_carburant_display }}</td>
            </tr>
            <tr>
                <td>Localisation</td>
                <td>{{ vehicle.parking_location.address }}, {{ vehicle.parking_location.zip_code }} {{ vehicle.parking_location.city }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}