{% extends "base.html" %}
{% block title %}{{ block.super }} - {{ vehicle.name }}{% endblock %}
{% block body %}
    <main class="container">
        <h1>{{ vehicle.name }}</h1>
        {% if trip_started %}<p class="warning">Un trajet est en cours, pensez à le clôturer avant d'en commencer un nouveau</p>{% endif %}
        {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
        {% endif %}
        <details>
            <summary role="button">Détails du véhicule</summary>
            <section>
                <table>
                    <tbody>
                    <tr>
                        <td>Type</td>
                        <td>{{ vehicle.get_type_display }}</td>
                    </tr>
                    <tr>
                        <td>Statut</td>
                        <td>{{ vehicle.get_status_display }}</td>
                    </tr>
                    <tr>
                        <td>Carburant</td>
                        <td>{{ vehicle.get_fuel_display }}</td>
                    </tr>
                    <tr>
                        <td>Localisation</td>
                        <td>{{ vehicle.parking_location.complete_address }}</td>
                    </tr>
                    <tr>
                        <td>Kilométrage</td>
                        <td>{{ vehicle.mileage }}</td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </details>
        {% if not trip_started %}
        <details {% if trip_start_form.errors %}open{% endif %}>
            <summary role="button">Commencer un trajet</summary>
            <section>
                {% include 'main/forms/trip_start_form.html' %}
            </section>
        </details>
        {% else %}
        <details {% if trip_end_form.errors %}open{% endif %}>
            <summary role="button">Finir le trajet</summary>
            <section>
                {% include 'main/forms/trip_end_form.html' %}
            </section>
        </details>
        {% endif %}
        <details>
            <summary role="button">Signaler une anomalie</summary>
            <section>
                {% if open_defects %}
                <details>
                    <summary>Vérifier les anomalies existantes</summary>
                    <table>
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Commentaire</th>
                            <th>Statut</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for defect in open_defects %}
                            <tr>
                                <td>{{ defect.get_type_display }}</td>
                                <td>{{ defect.comment }}</td>
                                <td>{{ defect.get_status_display }}</td>
                                <td>{{ defect.creation_date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>

                </details>
                {% endif %}
                {% include 'main/forms/defect_form.html' %}
            </section>
        </details>
        <details>
            <summary role="button">Indiquer un plein</summary>
            <section>
                {% include 'main/forms/fuel_expense_form.html' %}
            </section>
        </details>
    </main>
{% endblock %}