{% extends 'base.html' %}
{% block title %}{{ block.super }} - Tableau de bord opérationnel{% endblock %}
{% block body %}
    <main class="container">
        <h1>Tableau de bord</h1>
        <table>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Statut</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Type</th>
                    <th scope="col">Carburant</th>
                    <th scope="col">Localisation</th>
                    <th scope="col">Modification</th>
                </tr>
            </thead>
            <tbody>
                {% for vehicle in object_list %}
                <tr>
                    {% if vehicle.status == 'OUT_OF_ORDER' or vehicle.status == 'IN_REPAIR' %}
                    <th scope="row">🔴</th>
                    {% else %}
                    <th scope="row">🟢</th>
                    {% endif %}
                    <td>{{ vehicle.get_status_display }}</td>
                    <td>{{ vehicle.name }}</td>
                    <td>{{ vehicle.get_type_display }}</td>
                    <td>{{ vehicle.get_fuel_display }}</td>
                    <td>{{ vehicle.parking_location }}</td>
                    <td><a href="{% url 'vehicle_details' vehicle.pk %}">Détails</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}