* {
    --warning-color: #f8e98c;
    --info-color: #84d3f6;
}

@media (prefers-color-scheme: dark) {
    * {
        --warning-color: #6b3000;
        --info-color: #000855;
    }
}

.warning, .info {
    border-radius: var(--border-radius);
    padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
}

.warning {
    background-color: var(--warning-color);
}

.info {
    background-color: var(--info-color);
}

input:not([type=submit], [type=button], [type=reset])[readonly] {
    --background-color: var(--form-element-disabled-background-color);
    --border-color: var(--form-element-disabled-border-color);
    opacity: var(--form-element-disabled-opacity);
    pointer-events: none;
}

a {
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
}