* {
    --warning-color: #f8e98c;
    --info-color: #84d3f6;
    --error-color: #e9191cf7;
}

@media (prefers-color-scheme: dark) {
    * {
        --warning-color: #6b3000;
        --info-color: #000855;
    }
}

.warning, .info, .error {
    border-radius: var(--border-radius);
    padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
}

.warning {
    background-color: var(--warning-color);
}

.info {
    background-color: var(--info-color);
}

.error {
    background-color: var(--error-color);
}

input:not([type=submit], [type=button], [type=reset])[readonly] {
    --background-color: var(--form-element-disabled-background-color);
    --border-color: var(--form-element-disabled-border-color);
    opacity: var(--form-element-disabled-opacity);
    pointer-events: none;
}

a {
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
}

.status-tag {
    padding: 5px 20px;
    border-radius: 20px;
    white-space: nowrap;
    font-size: 20px;
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    color: var(--contrast);
    margin-left: var(--spacing);
}

.status-operational {
    color: #1bc5bd;
    background-color: #c9f7f5;
}

.status-in_repair {
  color: #f64e60;
  background-color: #ffe2e5;
}

.status-out_of_order {
  color: #f64e60;
  background-color: #ffe2e5;
}